<!-- inclui arquivos comuns da pasta common-->

<%- include('../common/head') %>
<%- include('../common/menu') %>

<main class="mb-4">
    <div class="bg-light p-5 mb-4">
        <div class="container text-center">
            <h1>Notícias</h1>
                <p class="lead">
                    Fique por dentro das ultimas notícias do mundo da tecnologia.
                </p>
        </div>
    </div>
</main>
<%- include('../common/footer') %>
