<header class="container-fluid bg-dark sticky-top">
    <nav class='d-flex justify-content-between flex-column flex-sm-row flex-wrap justify-content-center align-items-center'>
        <div>
            <img src="./img/logo_branca.svg" alt="logo">
        </div>
        <div>
            <ul class="nv nav-pills ">
                <!-- (li>a)*3 -->
                <li><a id="menuHome" class="nav-link text-white" href="/">Home</a></li>
                <li><a id="menuNoticias" class="nav-link text-white"  href="/noticias">Notícias</a></li>
                <li><a id="menuAdmin" class="nav-link text-white" href="/admin">Admin</a></li>
            </ul>
        </div>
        <div>
            <!-- div vazia para centralizar elementos com classe do bootstrap -->
        </div>
    </nav>
</header>